# ============================
# AMBIENTE VIRTUAL
# ============================
.venv/
venv/

# ============================
# PYTHON CACHE
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================
# NOTEBOOKS (Jupyter)
# ============================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ============================
# VS CODE
# ============================
.vscode/

# ============================
# macOS
# ============================
.DS_Store
.AppleDouble
.LSOverride

# ============================
# SEGREDOS / AMBIENTE
# ============================
.env
*.env

# ============================
# LOGS
# ============================
*.log

# ============================
# BUILD / PACOTES
# ============================
build/
dist/
*.egg-info/
.eggs/

# ============================
# ARQUIVOS TEMPORÁRIOS
# ============================
*.tmp
*.swp
